/*
 *
 * 	Site specific style sheet for dscourse. It's loaded last and overrrides bootstrap stylesheets. 
 *
 *
 *
 */
 

/* GLOBAL */

body {
	padding-top: 90px;
}

a {
	cursor: pointer;
	
}
.table td {
	vertical-align: middle;
}

.headerLinks {
	text-decoration: none;
	cursor: pointer;
	padding-left: 20px;
}

.headerLinks:hover {
	text-decoration: none;
}

.headerText {
	font-size: 12px;
	font-style: italic;
	padding-top: 10px;
	padding-right: 10px;
}

.linkGrey {
	color: grey;
}


#addUserForm, #courseForm, #saveCourses {  /* Bootstrap has hide class - check that */
	display: none;
}

.help-inline {
	color: #999;
	font-style: italic;
	padding-top: 5px;
}


.ui-datepicker {
	display: none;
	background: #eee;
	padding: 15px;
	border-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px 0 #666;
	-moz-box-shadow: 0 0 5px 0 #666;
	box-shadow: 0 0 5px 0 #666;
}

.ui-datepicker-prev {
	float: left;
}

.ui-datepicker-next {
	float: right;
}

.ui-datepicker-title {
	padding-top: 20px;
}

.ui-datepicker-calendar td {
	border:1px solid #ffffff;
}

.textareaFixed {
	height: 100px;
	resize: none;	
}

.ui-slider-horizontal {
	background: #5BC0DE;
	height: 8px;
	border: 1px solid #aaa;
	//margin-left: 10px;
}

.ui-slider-horizontal .ui-slider-range {
		background: #2F96B4;
}


.ui-slider-horizontal .ui-slider-handle {
	border-radius: 10px;
	margin-top: -2px;
	background: -webkit-linear-gradient(top,#5BC0DE,#2F96B4);
	border: 1px solid #7eaab7;
}
.ui-slider-horizontal .ui-slider-handle:focus {
	outline:none;
}




/* GLOBAL LAYOUT */

#logo {
	margin: -100px auto;
	width: 400px;
	height: 150px;
	padding-bottom: 50px;
	
}

.navbar-fixed-top {
	-webkit-box-shadow: 0 0px 10px 0px #000;
	-moz-box-shadow: 0 0px 10px 0px #000;
	box-shadow: 0 0px 10px 0px #000;
	height: 40px;
}

.wrap {
	min-height: 600px;
}

#footerFixed {
	width: 100%;
	background: #eee;
	padding: 20px ;
	box-shadow: inset 0px 3px 5px #CCC;
	-webkit-box-shadow: inset 0px 3px 5px #CCC;
	-moz-box-shadow: inset 0px 3px 5px #CCC;
	height: 40px;
	position: relative;
}

#footerBrand {
	font-weight: bold;
	color: #333333
	
}

#u_first, #u_last, #u_email {
	width: 120px;
}



#imgPath {
	margin-bottom: 5px;
	
}




/* SPECIFIC TO INDEX.PHP */
#loginModal {		
	width: 400px;	
	margin-left: -160px;	
}

.index-page h2 {
	padding-top: 40px;
	margin-bottom: 20px;
}

.index-text, .index-text p {
	font-size: 15px;
	line-height: 20px;	
	
}

#indexSubtext {
	font-size: 17px;
	line-height: 24px;
	width: 80%;
	margin: auto;
	padding-bottom: 20px;
}





/* SPECIFIC TO USERS.PHP */

#userList {
	height: 600px;
	overflow:auto;
}

.userThumbS {
	width: 32px;
	height: 32px;
	margin-right: 10px;
}



/* SPECIFIC TO DISCUSSION.PHP */

#overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index:1001;
	-moz-opacity: 0.7;
	opacity:.70;
	filter: alpha(opacity=70);
}




/* SPECIFIC TO HOME.PHP */

.todoFeed li, .discussionFeed li {
	border-bottom: 1px solid #e8e8e8;
	padding: 3px;
	list-style-image: ;
}

.timeLog {
	color: #999;
	
}


/* SPECIFIC TO PROFILE.PHP */

#userInfo {
	margin-top: 20px;
}

/*  Discussions Page */

		.rounded-corners { -moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;border:1px solid;padding:8px; overflow: hidden; z-index: 99;}
		#dragImage {
			background:#ccc url(../img/dots.png) no-repeat top left;
			width: 7px;
			height: 14px; 
			margin-left: 3px;
		}
		#sizeBut {cursor:move; margin-top:-10px;}
		.feedDiv {padding: 0 5px; margin-top: -5px;}
		.allPanes {font-size: 12px;}
		.threads {padding:10px 25px 0 25px !important;}
		.thread2{margin-left: 25px;}
		.thread3{margin-left: 50px;}
		#timePane {
				background: -webkit-linear-gradient(top, rgba(126,195,238,0.34) 0%, rgba(126,161,222,0.75) 100%);
				border: 1px solid #ccc;
				font-size: 12px;
		}
		.sayBut {
			border-radius: 10px;
			width: 20px;
			height: 20px;
			padding: 0 2px 0 1px; 
			font-size: 12px;
		}
		.boxHeaders {
			font-weight: bold;
			font-size: 16px;
			margin: 10px 10px 20px 30px;
		}
		.boxHeaders small {
			font-weight: normal;
			font-style: italic;
			font-size: 15px;
			margin-left: 15px;
		}
		.feedDiv{
			font-size: 12px;
		}
		
		.sayBut2 {
			width: 20px;
			height: 30px;
			background: url(../img/icons/sayL.png) top;
			padding: 7px 6px;
			font-weight: bold;
			font-size: 12px;
			margin-left: 10px;
			//float: right;
			display: inline;
			vertical-align: top;
		}
		.sayBut2:hover {
			background: url(../img/icons/sayD.png) center;
			color: #eee;
		}
		
		.threadText {
			float: left;
			padding: 10px 0px 0px 20px;
			margin-top: 10px; 
			width: 100%;
			border-top: 1px solid #eee;
			
		}
		
		#dTitleView {
			color: #002cb8;
			
		}

.postAuthorView {color: #5caac1}
.postTypeView   {color: #707070; font-style: italic}
.postMessageView{}

/* Caner's version of the Discussion box */

			#commentWrap {
				position:relative;
				display: none;
				margin: 100px auto;
				height: 140px;
				width: 500px;
				background-color: #eeeeee;
				border-style: solid;
				border-width: 2px;
				border-color: #eeeeee;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				-webkit-box-shadow: 0 0 15px 0 #666;
				-moz-box-shadow: 0 0 15px 0 #666;
				box-shadow: 0 0 15px 0 #666;				
				padding: 10px;
				font-family: Helvetica, sans-serif; 
				font-size: 12px;
				z-index: 1099;
			}
			
			#commentWrap p {
				margin-bottom: 20px;
				
			}
			#commentWrap input[type="radio"]{
				margin-right: 5px;
				vertical-align: baseline;
			}
			#text {
				width: 490px;
				height: 60px;
				border: 1px solid #ccc;
				padding: 5px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				resize: none;
			}
			
			#quick {
				width: 100%;
				//float: right;
				padding: 0px;
				
			}
			
			#quick li {
				margin-bottom: 5px;
				margin-right: 10px;
				list-style: none;
				display: inline-block;
			}
			
			

			
			#bottomlinks {
				float: left;
			}
			
			#bottomlinks ul {
				margin:5px 0px;
			}
			
			#bottomlinks li {
				display: inline-block;
				width: 95px;
			}	
			
			.buttons {
				float: right;
				margin-right: 5px;
			}
			
			.logos {
				width: 16px;
				height: 16px;
				float: left;
				margin-right: 3px;
				margin-top: 1px;
			}
			#media {background: url(../img/icons/addmedia.png) left top  no-repeat; float: left; width: 20px; height: 20px;}
			#link {background: url(../img/icons/addlink.png) left top    no-repeat; float: left; width: 20px; height: 20px;}
			#draw {background: url(../img/icons/adddrawing.png) left top no-repeat; float: left; width: 20px; height: 20px;}



/* SPECIFIC TO file uploader script */

.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 105px; padding: 7px 0; text-align:center;    
    background:#880000; border-bottom:1px solid #ddd;color:#fff;
}
.qq-upload-button-hover {background:#cc0000;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../img/loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

